<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flask OpenZWave</title>
</head>
<body>
<h1>Welcome to flask-openzwave</h1>
<h2>Available operations:</h2>
<ul>
    <li><a href="/values/Temperature">Get latest Temperature value</a></li>
    <li><a href="/values/Humidity">Get latest Humidity value</a></li>
    <li><a href="/switch/3/off">Switch off switch on node 3</a></li>
    <li><a href="/switch/3/on">Switch on switch on node 3</a></li>
    <li><a href="/switch/3/check">Check state of switch on node 3</a></li>
</ul>
<h6>From: <a href="https://github.com/richbeales/flask-openzwave">Richard Beales on Github</a></h6>
</body>
</html>