<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flask OpenZWave</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        $(function() {

            var options = {
                lines: {
                    show: true
                },
                points: {
                    show: true
                },
                xaxis: {
                    mode: "time"
                }
            };

            function onDataReceived(series) {
                series = series['values'];
                var temps = [];
                var hums = [];
                var luxs = [];
                series.forEach(function(entry) {
                    var d = entry['Date'].substr(0,2);
                    var mt = entry['Date'].substr(3,2);
                    var yr = entry['Date'].substr(6,4);
                    var h = entry['Date'].substr(11,2);
                    var m = entry['Date'].substr(14,2);
                    var s = entry['Date'].substr(17,2);
                    temps.push([new Date(yr,mt,d,h,m,s).getTime(), entry['Temperature']]);
                    hums.push([new Date(yr,mt,d,h,m,s).getTime(), entry['Humidity']]);
                    luxs.push([new Date(yr,mt,d,h,m,s).getTime(), entry['Lux']]);
                });
                $.plot("#tempplot", [temps], options);
                $.plot("#humplot", [hums], options);
                $.plot("#luxplot", [luxs], options);
            }

            $.ajax({
                url: '/json/values',
                type: "GET",
                dataType: "json",
                success: onDataReceived
            });
        });
    </script>
</head>
<body>
<h1>Welcome to flask-openzwave</h1>
<p>Temperature sensor graph:</p>
<div id="tempplot" style="height:300px; width: 500px;"></div>
<p>Humidity sensor graph:</p>
<div id="humplot" style="height:300px; width: 500px;"></div>
<p>Lux sensor graph:</p>
<div id="luxplot" style="height:300px; width: 500px;"></div>

<h2>Available operations:</h2>
<ul>
    <li><a href="/values/Temperature">Get latest Temperature value</a></li>
    <li><a href="/values/Humidity">Get latest Humidity value</a></li>
    <li><a href="/switch/3/off">Switch off switch on node 3</a></li>
    <li><a href="/switch/3/on">Switch on switch on node 3</a></li>
    <li><a href="/switch/3/check">Check state of switch on node 3</a></li>
</ul>
<h6>From: <a href="https://github.com/richbeales/flask-openzwave">Richard Beales on Github</a></h6>
</body>
</html>